@CHARSET "UTF-8";

html, body {
	font-family: NanumGothic, sans-serif;
	color: #666;
	margin: 0;
	padding: 0;
}

#wrapper {
	min-height: 100%;
}

.nav {
	float: none;
}

.navbar {
	border-bottom: 1px solid #ddd;
	margin-bottom: 0;
}

.navbar .nav > li > a:hover {
	background-color: #7699db;
	color: white;
}

.navbar .nav .dropdown-menu > li > a:hover {
	background-color: #7699db;
	color: white;
}

#login {
	float: right;
}

#loginModalLayer {
	display: none;
	position: relative;	
}

#loginModalLayer .loginView {
	width:280px;
	height: 240px;
	padding: 15px;
	border: 1px solid #ccc;
	position: fixed;
	left: 50%;
	top: 35%;
	z-index: 11;
	background: #fff;
}

.loginView .glyphicon {
	float: right;
	color: #e1e4ea;
}

.loginView .glyphicon:hover {
	color: #a4a9b2;
}

.loginView > p {
	height: 30px;
	font-size: 1.2em;
	border-bottom: 1px solid #ddd;
}

#loginForm p:nth-child(3) {
	height: 40px;
	padding-top: 3px;
	border-bottom: 1px solid #ddd;
}

#loginForm .glyphicon {
	float: left;
}

#loginId, #loginPassword {
	width: 100%;
	height: 30px;
}

#mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	background-color: #000;
	display: none;
}

.jumbotron {
	margin-top: 50px;
	margin-bottom: 0;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	background-color: #4d6c8b;
	color: white;
}

.jumbotron > h2{
	margin-bottom: 20px;
}

.breadcrumb {
	margin-bottom: 0;
	border-bottom: 1px solid #ddd;
}

.content {
	font-family: NanumGothic, sans-serif;
	width: 75%;
	margin: 0 auto;
	position: relative;
	line-height: 1.8;
	padding-top: 10px;
	color: #666;
}

#tableContainer {
	width: 90%;
	margin-top: 20px; margin-left : 5%;
	margin-right: 5%;
	text-align: center;
	margin-left: 5%;
}

.table {
	margin-bottom: 0;
}

th {
	text-align: center;
}

#writeBtn {
	float: right;
}

#paging {
	margin-bottom: 10px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	text-align: center;
	border-top: 1px solid #ddd;
	background-color: #f5f5f5;
	padding-top: 70px;
	font-size: 0.8em;
}

.btn-sm {
	float: right;
}