@CHARSET "UTF-8";

#h3 {
	border-bottom: 1px solid #ddd;
}

.joinForm {
	display: block;
	margin-left: 50px;
	margin-right: 50px;
	border-bottom: 1px solid #ddd;
}

.joinForm label {
	width: 150px;
	margin-top: 25px;
	text-align: right;
}

.joinForm .form-control {
	width: 200px;
	height: 25px;
	float: right;
	margin-top: 25px;
	margin-right: 600px;
}

.joinForm p {
	margin-left: 155px;
}

input[type=radio] {
	margin-left: 35px;
}

.submitDiv {
	width: 300px;
	margin-top: 15px;
	float: right;
}

.submitDiv button {
	margin-right: 20px;
	float: right;
}

.footer {
	margin-top: 50px;
}